PORT=5000
NODE_ENV=development
MONGODB_URI=mongodb://127.0.0.1:27017/ipoms_db
CORS_ORIGIN=http://localhost:3000
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
LOG_LEVEL=debug

# SMTP Mailer Configuration (Office 365 / Exchange)
SMTP_HOST=smtp.office365.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
SMTP_FROM="iPOMS Placement Operations <placement_management@infoziant.com>"
